/* .container {
  width: 740px;
  height: 1108px;
  border-top-left-radius: 250px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 100px;
  border-top: 12px rgba(250, 174, 37, 1) solid;
  border-right: 12px rgba(250, 174, 37, 1) solid;
  background: linear-gradient(
    180deg,
    rgba(88, 180, 209, 0.78) 0%,
    rgba(45, 92, 107, 0.24) 100%
  );
  box-shadow: 20px -20px 50px 0px rgba(0, 0, 0, 0.25);
} */

/* ConsultInfoCard.module.css */
.container {
  width: 740px;
  height: 1108px;
  position: relative;
  border-top-left-radius: 250px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 100px;
  border-top: 12px solid #fce6af;
  border-right: 12px solid #fce6af;
  box-shadow: 3px -3px 50px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(88, 180, 209, 0.78) 0%,
    rgba(45, 92, 107, 0.24) 100%
  );
  z-index: 1;
  opacity: 0.22;
}

.any {
  position: relative;
  z-index: 2;
  /* Other styling for the h2 if needed */
}
